@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #f1f1f1;
  color: #0f141e;
}
@media (max-width:400px){
    .container{
        justify-content: center;
        /* margin-left: 150px; */
        /* padding-left: 150px; */
    }
}
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}
/* krishdagi page */
.container .title {
    display: flex;
    width: 750;
    height: 256px;
    margin-bottom: 20px;
    /* border: 1px solid salmon; */
}
.container .title .avatar {
    display: block;
    width: 250px;
    height: 250px;
    margin: 0px;
    margin-left: 10px;
    /* border: 1px solid salmon; */
}
.container .title .avatar img {
    width: 256px;
    height: 250px;
    /* padding: 2px; */
    border-radius: 10px;
    background-color:#354157;
    border: 1px solid rgb(19, 19, 19);
}
.container .title .text {
    display: block;
    height: 250px;
    /* border: 1px solid salmon; */
    margin-left: 30px;
}
.container .title .text h1 {
    width: 310px;
    margin: 0px;
    /* font-style */
    font-weight: bold;
    font-style: normal;
    /* border: 1px solid salmon; */
}
.container .title .text p {
    /* font-style */
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    line-height: 20px;
}
.container .title .text .form h4 {
    font-weight: bold;
    color: #0f141e;
    margin: 0px;
    margin-bottom: 10px;
}
.container .title .text .form  li, a {
    list-style-type: none;
    text-transform: none;
    text-decoration: none;
    color: #0f141e;
}
/* 1-box siyle */
.container .one-box {
    display: block;
    width: 750;
    line-height: 25px;
    /* height: 256px; */
    padding: 25px 25px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #e5ffe7;
    /* border: 1px solid salmon; */
}
.container .one-box h3 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.5em;
    
    color: #0f141e;
}
.container .one-box ol {
    margin-left: 15px;
}
.container .one-box li, ol {
    padding: 0px;
    margin: 0px;
    color: #86898f;
}
/* 2-box siyle */
.container .two-box {
    display: block;
    width: 750;
    line-height: 25px;
    /* height: 256px; */
    padding: 25px 25px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #ffe5e5;
}
.container .two-box td {
    color: #86898f;
}
.container .video-dey {
    width: 750px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.container .cell-me {
    display: block;
    width: 750;
}
.container .cell-me .text h4 {
    margin: 0px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
}
.container .cell-me .form-input {
    display: flex;
    align-items: center
}
.container .cell-me .form-input label {
    font-family: 'Roboto';
    font-size: 14px;
    color: #86898f;
}
.container .cell-me .form-input  .name input {
    width: 355px;   
    margin-right: 25px;
    /* line-height: 40px; */
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.container .cell-me .form-input .email input {
    width: 355px;   
    /* line-height: 40px; */
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.container .cell-me .message {
    margin-top: 5px;
}
.container .cell-me .message label {
    font-family: 'Roboto';
    font-size: 14px;
    color: #86898f;
}
.container .cell-me .message textarea {
    width: 740px;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    background: transparent;    
    border-radius: none;
    border: none;
    border-bottom: 1px solid #ccc
    /* color: #86898f; */
}
.container .cell-me button {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    font-family: inherit;
    font-weight: normal;
    background:rgb(19, 19, 19);
    color: white;
    
}